@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body {
    background-color: #eee;
    font-family: 'Manrope', sans-serif;
    margin: 0px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px 20px;
}

.left {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: auto;
}

.search-bar input {
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 750px;
    margin-left: 10px;
}

.right {
    display: flex;
    align-items: center;
}

.cart-icon i,
.notif-icon i,
.profile i {
    width: 30px;
    height: auto;
    margin: 0 5px;
    cursor: pointer;
    color: #908471;
}

.line-gap {
    height: 20px;
    width: 1px;
    background-color: #ccc;
    margin: 0 10px;
}

main {
    padding: 60px;
}

.banner {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.banner .frame-kiri {
    width: 70%;
    position: relative;
}

.banner .frame-kanan {
    width: 27.5%;
    position: relative;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 60px;
    gap: 10px;
}

.title h1 {
    margin: 0px;
    font-size: 52px;
}

.title p {
    margin: 0px;
    font-size: 25px;
}

.container {
    padding: 60px;
}

.product-warp {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000;
    background-color: #D7D7D7;
    width: 97%;
    height: fit-content;
    padding: 25px;
    border-radius: 25px;
    gap: 15px;
}

.product-warp h1{
    margin: 0px;
    text-align: center;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    border-radius: 15px;
    padding: 20px;
    gap: 20px;
}

.product-view {
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(20% - 20px);
    border: 1px solid rgb(119, 119, 119);
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    gap: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-view img {
    background-color: #eee;
    width: 100%;
    border-radius: 15px;
}


.bawah {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.bawah h3 {
    text-align: left;
    margin: 0px;
}


.bawah .rating {
    display: flex;
    flex-direction: row;
}

.bawah .rating i{
    margin-right: 5px;
}

.bawah .rating p {
    font-size: small;
}

.product-view p {
    font-size: 20px;
    margin: 0px;
}

.product-warp button {
    height: 40px;
    width: 150px;
    border-radius: 20px;
    font-weight: bolder;
    border: 1px solid black;
}

.product-warp button:hover {
    background-color: #908471;
    color: white;
}
