body {
    background-color: #eee;
    font-family: 'Manrope', sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    width: 1054px;
    height: 729px;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.514);
}

.left-logo {
    display: flex;
    flex-direction: column;
    width: 467px;
    justify-content: center;
    align-items: center;
    background-color: #908471;
    border-radius: 30px 0px 0px 30px;
    padding: 20px;
}

.left-logo img {
    height: 356px;
}

.left-logo h1 {
    margin: 0px;
    font-weight: bolder;
    font-size: 48px;
}

.right-form {
    display: flex;
    flex-direction: column;
    width: 587px;
    justify-content: center;
    align-items: center;
    gap: 60px;
    background-color: #E3DED1;
    border-radius: 0px 30px 30px 0px;
}

.policy-right{
    display: flex;
    flex-direction: column;
    width: 587px;
    justify-content: center;
    align-items: center;
    background-color: #E3DED1;
    gap: 20px;
    padding: 25px 0px;
    border-radius: 0px 30px 30px 0px;
}

.regis-right-form {
    display: flex;
    flex-direction: column;
    width: 587px;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: #E3DED1;
    border-radius: 0px 30px 30px 0px;
}

.forgot-right-form {
    display: flex;
    flex-direction: column;
    width: 587px;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: #E3DED1;
    border-radius: 0px 30px 30px 0px;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form .button{
    margin-top: 50px;
}

.form-container {
    display: flex;
    flex-direction: row;
    width: 397px;
    height: 50px;
    align-items: center;
    border: 1px solid #000;
    margin-bottom: 10px;
    border-radius: 10px;
}

.logo {
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.input{
    flex: 1;
    height: 100%;
    border-left: 1px solid #000;
    display: flex;
    align-items: center;
}

input[type="text"], input[type="email"], input[type="password"],input[type="tel"]{
    width: 100%;
    height: 100%;
    font-size: 16px;
    background-color: rgba(255, 222, 173, 0);
    border: none;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0px 10px 10px 0px;
}

.logo img {
    height: 30px;
    width: auto;
}

.forgot{
    margin-top: 15px;
}

a{
    text-decoration: none;
    color: rgb(255, 0, 0);
}

a:hover{
    color: #000;
}

.regis a{
    text-decoration: none;
    color: blue;
}

.regis a:hover{
    color: black;
}

button{
    width: 177px;
    height: 39px;
    border-radius: 25px;
    border: 1px solid #000;
    font-weight: bolder;
    font-size: 14px;
}

button:hover{
    background-color: #908471;
    color: #fff;
}

.policy{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.content-container {
    max-height: 545px;
    overflow-y: auto;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 25px;
}

.content-container::-webkit-scrollbar {
    width: 5px;
}

.content-container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.content-container::-webkit-scrollbar-thumb {
    background-color: #C1B59F;
    border-radius: 6px;
}

.content-container::-webkit-scrollbar-thumb:hover {
    background-color: #908471;
}

.policy-right p{
    text-align: justify;
    margin: 0px;
}

.back{
    width: 100%;
    padding-left: 35px;
}

.back a{
    align-items: left;
    text-decoration: none;
    color: gray;
}

.forgot-right-form p{
    color: gray;
    text-align: center;
}

.forgot {
    color: gray;
}

.forgot-right-form .back a{
    text-align: left;
    margin-left: 45px;
}